In [1]:
7 / 4

1.75

In [2]:
7 % 4

3

In [3]:
50 % 5

0

In [4]:
23 % 2

1

In [5]:
20 % 2

0

In [6]:
2 ** 3

8

In [7]:
2 + 10 * 10 + 3

105

In [8]:
(2 + 10)*(10+3)

156

In [10]:
10 + 10

20

In [11]:
a = 5

In [12]:
a

5

In [13]:
a = 10

In [14]:
a

10

In [15]:
a + a

20

In [26]:
a

160

In [27]:
a = a + a

In [28]:
a

320

In [29]:
type(a)

int

In [30]:
a = 30.1

In [31]:
type(a)

float

In [34]:
my_income = 100

tax_rate = 0.1

my_taxes = my_income * tax_rate

In [35]:
my_taxes

10.0

In [36]:
'hello'

'hello'

In [37]:
"world"

'world'

In [38]:
'this is also a string'

'this is also a string'

In [40]:
"I'm going on a run"

"I'm going on a run"

In [41]:
print("hello")

hello

In [42]:
print("hello\nworld")

hello
world

In [43]:
len('hello')

5

In [44]:
len("I'm hungry")

10

In [45]:
mystring = "hello world"

In [46]:
mystring

'hello world'

In [47]:
mystring[0]

'h'

In [48]:
mystring[8]

'r'

In [49]:
mystring[9]

'l'

In [50]:
mystring[-2]

'l'

In [51]:
mystring[-3]

'r'

In [52]:
mystring[-1]

'd'

In [55]:
mystring = 'abcdefghijk'

In [56]:
mystring

'abcdefghijk'

In [57]:
mystring[2:]

'cdefghijk'

In [58]:
mystring[:3]

'abc'

In [ ]:
mystring

In [60]:
mystring[3:6]

'def'

In [62]:
mystring[1:3]

'bc'

In [65]:
mystring[3:-2]

'defghi'

In [69]:
mystring[2:7:2]

'ceg'

mystring[::-1]

In [70]:
mystring[::-1]

'kjihgfedcba'

In [71]:
name = "sam"

In [73]:
# name[0] = 'p'

In [75]:
last_letters = name[1:]

In [76]:
last_letters

'am'

In [77]:
'P' + last_letters

'Pam'

In [82]:
x = 'Hello World'

In [84]:
x = x + " it is beautiful outside"

In [85]:
x

'Hello World it is beautiful outside it is beautiful outside'

In [86]:
letter = 'z'

In [87]:
letter * 10

'zzzzzzzzzz'

In [88]:
2 +3

5

In [89]:
'2' + '3'

'23'

In [94]:
x = 'Hello World'

In [95]:
x.upper()

'HELLO WORLD'

In [96]:
x

'Hello World'

In [97]:
x.lower()

'hello world'

In [98]:
x.split()

['Hello', 'World']

In [103]:
x = 'Hi this is a string'

In [104]:
x.split('i')

['H', ' th', 's ', 's a str', 'ng']

In [105]:
print('hello')

hello

In [108]:
print('The {q} {b} {f}'.format(f='fox', b='brown',q='quick'))

The quick brown fox

In [110]:
result = 100/777

In [123]:
result = 104

In [125]:
print("the result was {r:10.2f}".format(r = result))

the result was     104.00

In [126]:
name = "Jose"

In [131]:
print(F"Hello, his name is {name} {result}")

Hello, his name is Jose 104

In [132]:
name ="Sam"
age = 3

In [133]:
print(f"{name} is {3} years old")

Sam is 3 years old

In [136]:
print("Hi " + name)

Hi Sam

In [137]:
my_list = [1,2,3]

In [138]:
my_list =['string',100,23.2]

In [140]:
len(my_list)

3

In [142]:
mylist = ['one','two','three']

In [144]:
mylist[1:]

['two', 'three']

In [145]:
mylist

['one', 'two', 'three']

In [146]:
another_list =['four','five']

In [147]:
new_list = mylist + another_list

In [148]:
new_list

['one', 'two', 'three', 'four', 'five']

In [149]:
print(new_list)

['one', 'two', 'three', 'four', 'five']

In [150]:
new_list[0] = 'ONE ALL CAPS'

In [152]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five']

In [153]:
new_list.append('six')

In [154]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six']

In [155]:
new_list.append('seven')

In [156]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six', 'seven']

In [157]:
new_list.pop()

'seven'

In [158]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six']

In [161]:
popped_item = new_list.pop()

In [162]:
popped_item

'six'

In [163]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five']

In [164]:
new_list.pop(0)

'ONE ALL CAPS'

In [165]:
new_list

['two', 'three', 'four', 'five']

In [169]:
new_list = ['a','e','x','b','c']
num_list = [4,1,8,3]

In [170]:
new_list.sort()

In [171]:
new_list

['a', 'b', 'c', 'e', 'x']

In [172]:
num_list

[4, 1, 8, 3]

In [173]:
num_list.sort()

In [175]:
num_list

[1, 3, 4, 8]

In [177]:
num_list.reverse()

In [178]:
num_list

[8, 4, 3, 1]

In [181]:
my_dict = {'key1':'value1','key2':'value2'}

In [182]:
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [183]:
my_dict['key1']

'value1'

In [184]:
price_lookup = {'apple':2.99,'oranges':1.99,"milk":5.80}

In [186]:
price_lookup['milk']

5.8

In [187]:
d = {'k1':123,'k2':[0,1,2],'k3':{'insidekey':100}}

In [188]:
d['k2']

[0, 1, 2]

In [189]:
d['k3']

{'insidekey': 100}

In [190]:
d['k3']['insidekey']

100

In [191]:
d = {'key1':['a','b','c']}

In [192]:
d

{'key1': ['a', 'b', 'c']}

In [193]:
mylist = d['key1']

In [194]:
mylist

['a', 'b', 'c']

In [195]:
letter = mylist[2]

In [196]:
letter

'c'

In [197]:
letter.upper()

'C'

In [198]:
d

{'key1': ['a', 'b', 'c']}

In [200]:
d['key1'][2].upper()

'C'

In [201]:
d = {'k1':100,'k2':200}

In [202]:
d

{'k1': 100, 'k2': 200}

In [203]:
d['k3'] = 300

In [204]:
d

{'k1': 100, 'k2': 200, 'k3': 300}

In [205]:
d['k1'] = 'NEW VALUE'

In [206]:
d

{'k1': 'NEW VALUE', 'k2': 200, 'k3': 300}

In [207]:
d = {'k1': 100, 'k2': 200, 'k3': 300}

In [208]:
d

{'k1': 100, 'k2': 200, 'k3': 300}

In [209]:
d.keys()

dict_keys(['k1', 'k2', 'k3'])

In [210]:
d.values()

dict_values([100, 200, 300])

In [212]:
d.items()

dict_items([('k1', 100), ('k2', 200), ('k3', 300)])