In [1]:
7 / 4

1.75

In [2]:
7 % 4

3

In [3]:
50 % 5

0

In [4]:
23 % 2

1

In [5]:
20 % 2

0

In [6]:
2 ** 3

8

In [7]:
2 + 10 * 10 + 3

105

In [8]:
(2 + 10)*(10+3)

156

In [10]:
10 + 10

20

In [11]:
a = 5

In [12]:
a

5

In [13]:
a = 10

In [14]:
a

10

In [15]:
a + a

20

In [26]:
a

160

In [27]:
a = a + a

In [28]:
a

320

In [29]:
type(a)

int

In [30]:
a = 30.1

In [31]:
type(a)

float

In [34]:
my_income = 100

tax_rate = 0.1

my_taxes = my_income * tax_rate

In [35]:
my_taxes

10.0

In [36]:
'hello'

'hello'

In [37]:
"world"

'world'

In [38]:
'this is also a string'

'this is also a string'

In [40]:
"I'm going on a run"

"I'm going on a run"

In [41]:
print("hello")

hello

In [42]:
print("hello\nworld")

hello
world

In [43]:
len('hello')

5

In [44]:
len("I'm hungry")

10

In [45]:
mystring = "hello world"

In [46]:
mystring

'hello world'

In [47]:
mystring[0]

'h'

In [48]:
mystring[8]

'r'

In [49]:
mystring[9]

'l'

In [50]:
mystring[-2]

'l'

In [51]:
mystring[-3]

'r'

In [52]:
mystring[-1]

'd'

In [55]:
mystring = 'abcdefghijk'

In [56]:
mystring

'abcdefghijk'

In [57]:
mystring[2:]

'cdefghijk'

In [58]:
mystring[:3]

'abc'

In [ ]:
mystring

In [60]:
mystring[3:6]

'def'

In [62]:
mystring[1:3]

'bc'

In [65]:
mystring[3:-2]

'defghi'

In [69]:
mystring[2:7:2]

'ceg'

mystring[::-1]

In [70]:
mystring[::-1]

'kjihgfedcba'

In [71]:
name = "sam"

In [73]:
# name[0] = 'p'

In [75]:
last_letters = name[1:]

In [76]:
last_letters

'am'

In [77]:
'P' + last_letters

'Pam'

In [82]:
x = 'Hello World'

In [84]:
x = x + " it is beautiful outside"

In [85]:
x

'Hello World it is beautiful outside it is beautiful outside'

In [86]:
letter = 'z'

In [87]:
letter * 10

'zzzzzzzzzz'

In [88]:
2 +3

5

In [89]:
'2' + '3'

'23'

In [94]:
x = 'Hello World'

In [95]:
x.upper()

'HELLO WORLD'

In [96]:
x

'Hello World'

In [97]:
x.lower()

'hello world'

In [98]:
x.split()

['Hello', 'World']

In [103]:
x = 'Hi this is a string'

In [104]:
x.split('i')

['H', ' th', 's ', 's a str', 'ng']

In [105]:
print('hello')

hello

In [108]:
print('The {q} {b} {f}'.format(f='fox', b='brown',q='quick'))

The quick brown fox

In [110]:
result = 100/777

In [123]:
result = 104

In [125]:
print("the result was {r:10.2f}".format(r = result))

the result was     104.00

In [126]:
name = "Jose"

In [131]:
print(F"Hello, his name is {name} {result}")

Hello, his name is Jose 104

In [132]:
name ="Sam"
age = 3

In [133]:
print(f"{name} is {3} years old")

Sam is 3 years old

In [136]:
print("Hi " + name)

Hi Sam

In [137]:
my_list = [1,2,3]

In [138]:
my_list =['string',100,23.2]

In [140]:
len(my_list)

3

In [142]:
mylist = ['one','two','three']

In [144]:
mylist[1:]

['two', 'three']

In [145]:
mylist

['one', 'two', 'three']

In [146]:
another_list =['four','five']

In [147]:
new_list = mylist + another_list

In [148]:
new_list

['one', 'two', 'three', 'four', 'five']

In [149]:
print(new_list)

['one', 'two', 'three', 'four', 'five']

In [150]:
new_list[0] = 'ONE ALL CAPS'

In [152]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five']

In [153]:
new_list.append('six')

In [154]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six']

In [155]:
new_list.append('seven')

In [156]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six', 'seven']

In [157]:
new_list.pop()

'seven'

In [158]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six']

In [161]:
popped_item = new_list.pop()

In [162]:
popped_item

'six'

In [163]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five']

In [164]:
new_list.pop(0)

'ONE ALL CAPS'

In [165]:
new_list

['two', 'three', 'four', 'five']

In [169]:
new_list = ['a','e','x','b','c']
num_list = [4,1,8,3]

In [170]:
new_list.sort()

In [171]:
new_list

['a', 'b', 'c', 'e', 'x']

In [172]:
num_list

[4, 1, 8, 3]

In [173]:
num_list.sort()

In [175]:
num_list

[1, 3, 4, 8]

In [177]:
num_list.reverse()

In [178]:
num_list

[8, 4, 3, 1]

In [181]:
my_dict = {'key1':'value1','key2':'value2'}

In [182]:
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [183]:
my_dict['key1']

'value1'

In [184]:
price_lookup = {'apple':2.99,'oranges':1.99,"milk":5.80}

In [186]:
price_lookup['milk']

5.8

In [187]:
d = {'k1':123,'k2':[0,1,2],'k3':{'insidekey':100}}

In [188]:
d['k2']

[0, 1, 2]

In [189]:
d['k3']

{'insidekey': 100}

In [190]:
d['k3']['insidekey']

100

In [191]:
d = {'key1':['a','b','c']}

In [192]:
d

{'key1': ['a', 'b', 'c']}

In [193]:
mylist = d['key1']

In [194]:
mylist

['a', 'b', 'c']

In [195]:
letter = mylist[2]

In [196]:
letter

'c'

In [197]:
letter.upper()

'C'

In [198]:
d

{'key1': ['a', 'b', 'c']}

In [200]:
d['key1'][2].upper()

'C'

In [201]:
d = {'k1':100,'k2':200}

In [202]:
d

{'k1': 100, 'k2': 200}

In [203]:
d['k3'] = 300

In [204]:
d

{'k1': 100, 'k2': 200, 'k3': 300}

In [205]:
d['k1'] = 'NEW VALUE'

In [206]:
d

{'k1': 'NEW VALUE', 'k2': 200, 'k3': 300}

In [207]:
d = {'k1': 100, 'k2': 200, 'k3': 300}

In [208]:
d

{'k1': 100, 'k2': 200, 'k3': 300}

In [209]:
d.keys()

dict_keys(['k1', 'k2', 'k3'])

In [210]:
d.values()

dict_values([100, 200, 300])

In [212]:
d.items()

dict_items([('k1', 100), ('k2', 200), ('k3', 300)])

In [1]:
t = (1,2,3)

In [2]:
mylist = [1,2,3]

In [3]:
type(t)

tuple

In [4]:
type(mylist)

list

In [5]:
len(t)

3

In [6]:
t=('one',2)

In [7]:
t[0]

'one'

In [8]:
t[-1]

2

In [9]:
t  = ('a','a','b')

In [10]:
t.count('a')

2

In [11]:
t.index('a')

0

In [12]:
t.index('b')

2

In [13]:
t

('a', 'a', 'b')

In [14]:
mylist

[1, 2, 3]

In [15]:
mylist[0] = 'NEW'

In [16]:
mylist

['NEW', 2, 3]

In [17]:
t[0] = 'NEW'

TypeError: 'tuple' object does not support item assignment

In [18]:
myset = set()

In [19]:
myset

set()

In [20]:
myset.add(1)

In [21]:
myset

{1}

In [22]:
myset.add(2)

In [23]:
myset

{1, 2}

In [24]:
myset.add(2)

In [25]:
myset

{1, 2}

In [26]:
mylist = [1,1,1,1,1,1,2,2,2,2,3,3,3,3]

In [29]:
set(mylist)

{1, 2, 3}

In [30]:
True

True

In [32]:
False

False

In [33]:
type(False)

bool

In [34]:
1 > 2

False

In [35]:
1 == 1

True

In [36]:
b = None

In [37]:
b

In [38]:
type(b)

NoneType

In [39]:
%%writefile myfile.txt
hello this is a text file
this is the second line
this is the third line

Writing myfile.txt

In [40]:
myfile = open('myfile.txt')

In [42]:
myfile = open('myfile.txt')

In [43]:
pwd

'C:\\Users\\adamg\\Documents\\GitHub\\Udemy-complete-python-bootcamp'

In [44]:
myfile = open('myfile.txt')

In [45]:
myfile.read()

'hello this is a text file\nthis is the second line\nthis is the third line\n'

In [46]:
myfile.read()

''

In [47]:
myfile.seek(0)

0

In [49]:
myfile.read()

'hello this is a text file\nthis is the second line\nthis is the third line\n'

In [50]:
myfile.seek(0)

0

In [51]:
myfile.readline()

'hello this is a text file\n'

In [52]:
myfile.seek(0)

0

In [53]:
myfile.readlines()

['hello this is a text file\n',
 'this is the second line\n',
 'this is the third line\n']

In [54]:
pwd

'C:\\Users\\adamg\\Documents\\GitHub\\Udemy-complete-python-bootcamp'

In [56]:
myfile.close()

In [57]:
with open('myfile.txt') as my_new_file:
    contents = my_new_file.read()

In [58]:
contents

'hello this is a text file\nthis is the second line\nthis is the third line\n'

In [59]:
with open('myfile.txt',mode='r') as myfile:
    contents = myfile.read()

In [60]:
contents

'hello this is a text file\nthis is the second line\nthis is the third line\n'

In [62]:
%%writefile my_new_file.txt
one
two
three

Overwriting my_new_file.txt

In [63]:
with open('my_new_file.txt',mode='r') as f:
    print(f.read())

one
two
three

In [64]:
with open ('my_new_file.txt',mode='a') as f:
    f.write('four')

In [65]:
with open('my_new_file.txt',mode='r') as f:
    print(f.read())

one
two
three
four

In [66]:
with open('asdkfdskfjsdkj.txt',mode='w') as f:
    f.write('I created this file')

In [67]:
with open('asdkfdskfjsdkj.txt',mode='r') as f:
    print(f.read())

I created this file

In [72]:
hungry = True

if hungry:
    print("Feed me")
else:
    print("I'm not hungry")

Feed me

In [79]:
loc = 'Home'

if loc == 'Auto Shop':
    print("Cars are Cool!")
elif loc == 'Bank':
    print("Money is cool!")
elif loc == 'Store':
    print("Welcome to the store!")
else:
    print("I do not know much.")

I do not know much.

In [2]:
mylist =[1,2,3,4,5,6,7,8,9,10]

In [3]:
for num in mylist:
    print('Hello')

Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello

In [4]:
for num in mylist:
    if num % 2 == 0:
        print(f'{num} = Even Number')
    else:
        print(f'{num} = Odd Number')

1 = Odd Number
2 = Even Number
3 = Odd Number
4 = Even Number
5 = Odd Number
6 = Even Number
7 = Odd Number
8 = Even Number
9 = Odd Number
10 = Even Number

In [5]:
list_sum = 0

for num in mylist:
    list_sum = list_sum + num
    
print(list_sum)

55

In [8]:
mystring = 'Hello World'
for letter in mystring:
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [9]:
tup = (1,2,3)

for item in tup:
    print(item)

1
2
3

In [14]:
mylist = [(1,2,9),(3,4,10),(5,6,11),(7,8,12)]

In [15]:
len(mylist)

4

In [19]:
for a,b,c in mylist:
    print(c)

9
10
11
12

In [20]:
mylist = [(1,2,3),(5,6,7),(8,9,10)]

In [21]:
for a,b,c in mylist:
    print(b)

2
6
9

In [24]:
d ={'k1':1,'k2':2,'k3':3}

for key,value in d.items():
    print(value)

1
2
3

In [30]:
x = 0

while x < 5:
    print(f'The current value of x is {x}')
    
    x += 1
else:
    print("X is not less than 5")

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4
X is not less than 5

In [33]:
mystring = 'Sammy'

In [36]:
for letter in mystring:
    if letter == 'a':
        break
    print(letter)

S

In [38]:
x = 0

while x < 5:
    
    if x == 2:
        break
    print(x)
    x += 1

0
1

In [39]:
mylist = [1,2,3]

In [43]:
for num in range(0,11,2):
    print(num)

0
2
4
6
8
10

In [45]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [57]:
word = 'abcde'

for index,letter in enumerate(word):
    print(index)
    print(letter)
    print('\n')

0
a


1
b


2
c


3
d


4
e

In [60]:
mylist1 = [1,2,3]
mylist2 = ['a','b','c']
mylist3 = [100,200,300]

In [62]:
for item in zip(mylist1,mylist2,mylist3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [63]:
list(zip(mylist1,mylist2))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [66]:
2 in [1,2,3]

True

In [65]:
'x' in ['x','y','z']

True

In [67]:
'a' in 'a world'

True

In [68]:
'mykey' in {'mykey':345}

True

In [73]:
d = {'mykey':345} #Key;Value

345 in d.keys()

False

In [5]:
mylist = [10,20,30,40,100]

In [6]:
min(mylist)

10

In [7]:
max(mylist)

100

In [8]:
from random import shuffle

In [9]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [10]:
mylist

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [11]:
shuffle(mylist)

In [12]:
mylist

[4, 6, 8, 9, 7, 3, 10, 2, 1, 5]

In [13]:
mylist

[4, 6, 8, 9, 7, 3, 10, 2, 1, 5]

In [14]:
from random import randint

In [15]:
randint(0,100)

60

In [16]:
randint(0,100)

87

In [17]:
mynum = randint(0,10)

In [18]:
mynum

7

In [19]:
mynum

7

In [22]:
result = input('Favorite Number: ')

Favorite Number: 30

In [21]:
type(result)

str

In [23]:
float(result)

30.0

In [25]:
int(result)

30

In [26]:
mystring = 'hello'

In [27]:
mylist = []

for letter in mystring:
    mylist.append(letter)

In [28]:
mylist

['h', 'e', 'l', 'l', 'o']

In [29]:
mylist = [letter for letter in mystring]

In [30]:
mylist

['h', 'e', 'l', 'l', 'o']

In [33]:
mylist = [qweqwe for qweqwe in 'wordtwo']

In [34]:
mylist

['w', 'o', 'r', 'd', 't', 'w', 'o']

In [37]:
mylist = [num**2 for num in range (0,11)]

In [38]:
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [41]:
mylist = [x**2 for x in range (0,11) if x%2==0]

In [42]:
mylist

[0, 4, 16, 36, 64, 100]